@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    background-color: #E5E5E5;
    font-family: 'Manrope', sans-serif;
}
.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFFFFF;
    max-width: 1220px;
    margin: 0 auto;
    padding: 25px 30px;
}
.product {
    flex-basis: 380px;
    height: 385px;
    padding: 10px 15px;
    box-sizing: border-box;
    /* border: 1px solid #7E839C; */
    margin-bottom: 15px;
}
.product__wrap {
    display: flex;
    justify-content: space-between;
}
.product__hypoallergenic {
    color: #FFFFFF;
    background-color: #7E839C;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    height: 20px;
    width: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.product__discount {
    color: #FFFFFF;
    background-color: #F91155;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    height: 20px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.product__wrap--img {
    height: 165px;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 8px;
}
.product__wrap--price {
    justify-content: start;
    align-items: center;
    margin-bottom: 5px;
}
.product__price {
    color: #F91155;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-right: 15px;
}
.product__price--old {
    color: #5A6C7D;
    font-size: 14px;
    line-height: 19px;
    margin-right: 0;
    text-decoration-line: line-through;
}
.product__description {
    color: #111;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 36px;
}
.product__wrap__star-review {
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
}
.product__star {
    margin-right: 3px;
}
.product__star--half {
    margin-right: 6px;
}
.product__review {
    color: #5A6C7D;
    font-size: 11px;
    line-height: 15px;
}
.product__btn {
    width: 170px;
    height: 40px;
    color: #FFFFFF;
    background-color: #6A1B9A;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}
.product__btn--ozon {
    background-color: #005BFF;;
}

/* МЕДИА ЗАПРОСЫ */
@media (max-width: 1200px) {
    .catalog {
        justify-content: space-evenly;
    }
}
@media (max-width: 440px) {
    .catalog {
        padding-left: 0;
        padding-right: 0;
    }
    .product {
        padding-top: 10px;
        padding-right: 11px;
        padding-left: 15px;
        padding-bottom: 10px;
        height: 100%;
        width: 100%;
        flex-basis: 187px;
    }
    .product__wrap--btn {
        align-items: center;
        flex-direction: column;
    }
    .product__btn--wildberries {
        margin-bottom: 5px;
    }
    .product__btn {
        width: 100%;
    }
}
